*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    text-align: center;
    background: rgb(226,225,238);
    background: linear-gradient(90deg, rgba(226,225,238,1) 0%, rgba(156,113,91,1) 100%, rgba(0,212,255,1) 100%);
}
h1{
  padding: 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
}
label{
    display: block;
    padding-bottom: 1rem;
}
input {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    border-radius: 5px;
  }

#sub{
  background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add some border radius for rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 16px; /* Button text size */
}
#sub:hover{
   background-color: #2980b9; /* Change background color on hover */
}

.container{
    width: 100vw;
    height : 100vh;

    display: flex;
    justify-content: space-evenly;
 
}
#form-input{
    padding: 10rem;
}
#output{
    padding: 4rem;
  font-size: 1.5rem;
}
#myImage{
  width: 80%;
}